[Unit]
Description=boot splash screen

[Service]
ExecStart=/usr/bin/fbi -d /dev/fb0 --noverbose -a /etc/splash.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=basic.target
