[Unit]
Description=boot splash screen
After=local-fs.target

[Service]
ExecStart=/usr/bin/fbi -d /dev/fb0 --noverbose -a /usr/share/plymouth/themes/pix/splash.png
Type=oneshot
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
