[Unit]
Description=Write RTC time from wittypi to system
Before=schedule_startup.service

[Service]
ExecStart=/usr/bin/syncTime.sh
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=basic.target
RequiredBy=schedule_startup.service
